logigate-backend/static/plates/*
logigate-backend/__pycache__/
logigate-front/node_modules/
logigate-front/.svelte-kit/
venv/
.env
*.pt
logigate-backend/damage_dataset/
runs/
logigate-backend/static/damages/
*.log
logigate-backend/test_x.jpg
capturas/
__pycache__/
